@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
/* Universal Styling and  css reset */
* {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Noto Sans TC", sans-serif;
  
}

/* .bkimg img{
  background-image: url("../images/4474421855_4b20643258_b.jpg");
   filter: blur(8px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
} 
 */

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}



.main-section{
  flex-grow: 1;
  font-size: 40px;
  text-align: center;
  margin-top: 250px;
}





nav{
  display: flex;
  justify-content: space-evenly; 
  box-shadow: 1px 1px 5px black;
  padding: 20px;
}


.navlinks a{
text-decoration: none;
margin-left: 26px;
font-size: 20px;
}

/* search nav */
.search{
  /* margin-top: 50px; */
  display: flex;
  border-bottom: 1px solid black;
}
.search button{
  background-color: transparent;
  border: none;
  outline: none;
}
.search input{
  border: none;
  outline: none;
}
.search input::placeholder{
  text-align: center;
}

/* footer */
footer{
  text-align: center;
  box-shadow: 1px 1px 5px black;
}