/* Universal Styling and  css reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* navbar styling */
nav {
  padding-top: 1.3rem;
  background-color: black;
  height: 4rem;
  padding-left: 4.5rem;
}

nav ul {
  display: flex;

  font-family: "Roboto", sans-serif;
}
/* nav ul li {
} */

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 2rem;
}

nav ul input {
  border-radius: 0.8rem;
  height: 1.5rem;
  outline: none;
  padding-left: 12;
}

#search {
  padding-left: 4.5rem;
}

/* main section styling */
#main-section {
  background-image: url("../images/4474421855_4b20643258_b.jpg");
   filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
